// variables

$breakpoint-medium : 767px;
$breakpoint-large : 1024px;
// color variables

$storm :#4a4e4d;  //rgb rgb(61, 164, 171)
$teal :  #0e9aa7; //rgb(14, 154, 167)
$foamgreen:  rgba(61, 164, 171, 0.5) ;
$sunny:    #f6cd61; // rgb(246, 205, 97)
$peach:  #fe8a71; // rgb(254, 138, 113)
$sand: #faebd7;
$royal: #1657bf//rgb(22, 87, 191)